API_ID=19497811 # get this value from my.telegram.org
API_HASH=87ce6584628e7982a52c08856f76233a # get this value from my.telegram.org
BOT_TOKEN=5454857280:AAFdGNrmThBe2aSeCzDD0jWCKP8lxlTEuwg # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://Kittuthemeoe:kiranraj@cluster0.mv6oj.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001746229223 # get this value from in your log group 
MUSIC_BOT_NAME= ═˚₊· ͟͟➳βʋ∂ωɛιƨɛя═ ࿐ # your music bot name 
STRING_SESSION=BQCW1-sd4Jb0058Kr2h1RFGM6ZgjrbU6DhpLyRCv1fkKoTAA0hvZlYeTNruHcfwlb-KeGii17RitVzMLj9yVw40GcTBXosJFErFa3wcAnof7OS-YW124gEcyGRKPQk_fjAsly9qZkJ9Jf1fcYjsHT8dzECDiS1KzNDkZqqNNwFCQIXvT7HvYIA07gpInZPltquLzI30JnrTeniFA_rkP8TFE-ez7_EPR4kWrGd1C8brf6aXxis0zb1M9eBSZdO9N1bPWgnP6ggs_xXwIxMsWV9ibkfRXyzbggEHiXAguW0QZgWMmJH5W_zwHHe02SjeAgITz3C0C388YLfTqzAeg8gpuAAAAAUKMlegA
