API_ID=19497811 # get this value from my.telegram.org
API_HASH=87ce6584628e7982a52c08856f76233a # get this value from my.telegram.org
BOT_TOKEN=5454857280:AAFdGNrmThBe2aSeCzDD0jWCKP8lxlTEuwg # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://Kittuthemeoe:kiranraj@cluster0.mv6oj.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001746229223 # get this value from in your log group 
MUSIC_BOT_NAME= ═˚₊· ͟͟➳βʋ∂ωɛιƨɛя═ ࿐ # your music bot name 
STRING_SESSION=BQAmjAqAMklkdRF6qjgeIliGzn24UJA48Ft0o-7q9Nit9Jc8l-vgNFrovb6JVynn_nimmVPmFcuuboOsuszZp0IwB-Ek78emfZzLXW0HlLFXg5g52Wk0Mnf14sDJm7JUW8foA61bNBcp9qEnhsmdeMxbIjQr7hvjkls2ZdQycAxZzQit6PFUbsxwBfYAXy1dTa84OL-lwHiaYuYNfQ131tlL2Pga_kUP_8fh9OKVn-zlyQX5J4m8a5QK_X_mAJ36_ZcERJjiPnV_YtmDA5Smbs4kjSRYEh4J2IBFNNpyOJKSGi3zgtxTPubVUxR3t7M9G1DYw7R_1SeB4R2pDe3mPXnWAAAAAUKMlegA
