API_ID=19497811 # get this value from my.telegram.org
API_HASH=87ce6584628e7982a52c08856f76233a # get this value from my.telegram.org
BOT_TOKEN=5454857280:AAFdGNrmThBe2aSeCzDD0jWCKP8lxlTEuwg # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://Kittuthemeoe:kiranraj@cluster0.mv6oj.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001746229223 # get this value from in your log group 
MUSIC_BOT_NAME= ═˚₊· ͟͟➳βʋ∂ωɛιƨɛя═ ࿐ # your music bot name 
STRING_SESSION=BQApfu4q1c4dyL8WYy4UQ-Q_c2l6GVXRc_Eo2iDLbzs2jDAQ65yP0dhUoGI2HvlyT48cwiBLULh24TXIf3aWvzzytEWNBGJiHuOvANz7Qy4-jmLkMxdMe1ILemzTVnPXfsZ1Ij01t1SQvutP0ZaWZ-n0LCewErsAsmDAIdHs6rRdPVGEG36yVw6ekcpoad08bpCH2sjYBIjRl2fKVvxiSHZCRvzq8DAjU6JbwWOAfSNZkyMcVYRVPpKJbksZHbmqxURDAPMBHAwa0xOo9EV5utg6mQTjF1AWQxTGdbCKLSvbKwYD5SvOiwmpFMYupDLxW72Gie2t8n36RCyAfZCmxBNxAAAAAUKMlegA pyrogram_string_session
